.header {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    padding: 2.05vh;
    left: 0;
    top: 0;
    max-width: 1820px;
    position: static;
}

.header__logo img {
    width: 80%;
    margin-top: 0.2vmax;
}

#menu__toggle {
    display: none;
}

.menu__btn {
    display: none;
    cursor: pointer;
}

.menu__btn span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}

.header__item {
    margin-right: -1.46vmax;
}

.menu-open .header__nav {
    display: block;
}

.header__list {
    display: flex;
    list-style-type: none;
    gap: 10vmax;
    font-weight: 600;
    font-size: 1.25em;
    margin-top: 33px;
    margin-left: 117px;
}

.header__link {
    color: rgb(57, 53, 53);
    text-decoration: none;
}

.arrow {
    display: inline-block;
    width: 0.8vmax;
    height: 0.4vmax;
    background-image: url(../img/block_nav/arrow1.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.tel {
    font-weight: 400;
}

.vacance,
.contacts {
    margin-left: -0.5vmax;
}

@media (max-width: 992px) {
    .header {
        flex-direction: row;
        align-items: flex-start;
    }
    .header__logo {
        margin-right: auto;
    }
    .menu__btn {
        display: block;
        margin-top: 23px;
        margin-left: auto;
    }
    .nav__arrow {
        display: none;
    }
    .header__list {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        gap: 2vmax;
    }
}