/* HEADER AND PREVIEW */

@media (max-width: 1200px) {
    .header {
        width: 93%;
    }
    .preview {
        width: 95%;
    }
    .main__image {
        width: 90%;
    }
    .faw__img {
        max-width: 90%;
    }
    .main__text {
        font-size: 80%;
    }
    .main__desc {
        max-width: 80%;
        width: 100%;
    }
    .preview__arrow {
        margin-left: 10%;
    }
    .preview__line {
        margin-left: -7%;
    }
    .header__logo img {
        width: 159%;
    }
}

@media (max-width: 992px) {
    .preview,
    .main {
        width: 100%;
        font-size: 87%;
        padding: 10px;
    }
    .nav__arrow {
        display: none;
    }
    .header__nav {
        display: none;
        top: 100%;
        left: 0;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 999;
        padding: 33px;
        width: 40%;
        box-sizing: border-box;
    }
    .header__item {
        margin-bottom: 10px;
    }
    .header__list {
        align-items: center;
        margin-right: 0;
    }
    .header__link {
        font-size: 18px;
    }
    .header__link:hover {
        color: #ff5733;
    }
    .menu-open .header__nav {
        display: block;
    }
    .tel {
        margin-left: 0;
        margin-top: 10px;
    }
    .header__logo {
        margin-right: auto;
    }
    .main__subtitle {
        width: fit-content;
    }
    .menu__btn {
        display: block;
        margin-top: 23px;
        margin-left: auto;
    }
    .header__nav {
        display: none;
    }
    .header__item {
        margin-bottom: 10px;
    }
    .vacancy,
    .contacts {
        margin-left: 0;
    }
    .preview {
        max-width: 750px;
    }
    .main {
        display: flex;
        align-items: center;
    }
    .main__image {
        width: 80%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .faw__img {
        max-width: 80%;
        margin-top: 10px;
    }
    .main__text {
        margin: 0 auto;
        padding: 0 20px;
        font-size: 93%;
    }
    .main__title {
        width: fit-content;
    }
    .main__desc {
        max-width: 100%;
        width: 74%;
    }
    .preview__arrow {
        margin-left: 10%;
    }
    .preview__line {
        margin-left: 4%;
    }
}

@media (max-width:767px) {
    .preview,
    .main {
        width: 100%;
        font-size: 96%;
        padding: 6px;
    }
    .main {
        flex-direction: column;
        max-width: 100%;
    }
    .main__image {
        display: none;
    }
    .faw__img {
        display: none;
    }
    .main__text {
        max-width: 84%;
        margin: 0;
        padding-left: 0;
    }
    .preview__line {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .header__nav {
        padding: 22px;
        width: 58%;
        position: static;
    }
    .preview__arrow {
        margin-left: 12%;
    }
}

@media (max-width:562px) {
    .preview__arrow {
        display: none;
    }
    .about__text {
        font-size: 106%;
    }
    .about__desc {
        width: 329px;
    }
    .main__text {
        padding: 15px;
    }
}

@media (max-width:375px) {
    .preview__arrow {
        display: none;
    }
    .main__text {
        font-size: 75%;
        max-width: 84%;
        margin: 0;
        padding-left: 9px;
    }
    .main__desc {
        max-width: 10vw;
        width: 100%;
    }
    .preview__line {
        margin-left: 9%;
    }
    .header_nav {
        padding: 19px;
        width: 105%;
        position: static;
    }
}


/* ABOUT */

@media (max-width: 1200px) {
    .about__image img {
        width: 133%;
    }
    .about__image {
        margin-left: -19px;
        padding-right: 4px;
    }
    .about {
        width: 100%;
    }
    .about__desc {
        font-size: 119%;
    }
    .about__desc2 {
        font-size: 100%;
    }
    .about__text {
        width: 120%;
        /* position: absolute; */
    }
}

@media (max-width: 992px) {
    .about {
        font-size: 80%;
    }
    .about__text {
        margin: 0 auto;
        width: 100%;
        font-size: 129%;
    }
    .about__all {
        width: 89%;
        flex-direction: column;
        max-width: 100%;
        /* margin-left: -118px; */
        align-items: center;
    }
    .about__image {
        padding-top: 20px;
        /* padding-left: 104px; */
    }
    .about__desc {
        width: 401px;
    }
    .about__desc2 {
        width: 600px;
    }
    .about__image img {
        width: 69%;
        margin-left: -12px;
    }
}

@media (max-width: 767px) {
    .about {
        font-size: 81%;
        padding-left: 62px
    }
    .about__all {
        width: 90%;
        flex-direction: column;
        max-width: 100%;
        margin-left: -118px;
    }
    .about__text {
        margin: 0 auto;
        width: 121%;
        margin-left: 5%;
        font-size: 107%;
    }
    .about__image {
        padding-top: 20px;
        padding-left: 57px;
    }
    .about__title {
        margin-left: -89px;
        font-size: 248%;
    }
    .about__desc {
        width: 100%;
    }
}

@media (max-width: 528px) {
    .about {
        font-size: 89%;
    }
    .about__image {
        width: 90%;
    }
    .about__image img {
        margin-left: 7px;
    }
    .about__desc {
        width: 329px;
        line-height: 122%;
    }
    .about__text::before {
        margin-left: 1px;
    }
    .about__text::after {
        margin-left: 1px;
    }
    .about__text {
        width: 132%;
        font-size: 104%;
        margin-left: 21px;
    }
}

@media (max-width: 375px) {
    .about {
        width: 100%;
        font-size: 78%;
    }
    .about__desc2 {
        width: 600px;
        max-width: 152%;
    }
}


/* STATISTICS */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* PRINCIPLE */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* TIMING */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* FEDERAL */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* AGENTS */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* ACTUAL */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* NEWS */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}


/* FOOTER */

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 767px) {}

@media (max-width: 528px) {}

@media (max-width: 375px) {}